[Unit]
Description=The data saver service

[Service]
WorkingDirectory=-%h/data
#EnvironmentFile=-%h/.config/saver_env.txt
ExecStart=/usr/bin/mqtt-saver --mqtthost %i
RestartSec=3
Restart=always
PrivateTmp=true
NoNewPrivileges=true
